.container{
    width: 100%;
}
.header-inner{
    width: 100%;
}
.header-top{
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
}
.header-logo{
    width: 131px;
    height: 72px;
    padding-top: 17px;
}
.palka{
    width: 1px;
    height: 40px;
    margin-top: 31px;
    margin-left: 27px;
    margin-right: 27px;
}
.header-lang{
    text-align: center;

}
.lang{
    font-family: 'Suisse Intl Trial';
    font-size: 16px;
    padding-top: 28px;
}
.RU{
    background-color: rgb(74, 210, 149, 1);
    color: rgb(255, 255, 255);
    width: 35px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    font-family: 'Suisse Intl Trial';
    font-style: normal;
    font-weight: bold;
}
.course{
    padding-top: 31px;
}
.icons{
    padding-top: 42px;

    display: flex;
}
.inst{
    padding-left: 15px;
}
.you{
    padding-left: 15px;
}
.phone{
    padding-top: 29px;
}
.p04{
    width: 128px;
    font-weight: bold;
    font-size: 16px;
}
.p06{
    width: 129px;
    font-weight: bold;
    font-size: 16px;
}
.smphone{
    padding-top: 32px;

}
.grey{
    margin-left: 8px;
    margin-top: 23px;
    width: 185px;
    height: 55px;
    background-color: #EFF3F6;
    border-radius: 2px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
}
.kr{
    width: 55px;
    height: 55px;
    margin-top: 23px;
    background-color: #DD4053;
    border-radius: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.search{
    width: 150px;
    height: 55px;
    background-color: #EFF3F6;
    margin-left: 30px;
    margin-top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
}
.gr{
    width: 55px;
    height: 55px;
    margin-top: 23px;
    background-color: #4AD295;
    border-radius: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.razdel{
    background-color: rgb(190, 190, 190);
    width: 2000px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Suisse Intl Trial';
    height: 70px;

}

a{
    text-decoration: none;
    font-family: 'Suisse Intl Trial';
    color: #616161;
    height: 19px;

}
ul{
    color: #C4C4C4;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li {
    color: #C4C4C4;
    float: centers;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    display: block;
   }
li a{
    display: flex;

}
   
li:hover {
    cursor: pointer;
}
   
ul li ul {
     visibility: hidden;
     opacity: 0;
     position: relative;
     transition: all 0.5s ease;

     display: none;
}
   
ul li:hover > ul,
ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
}
   
ul li ul li {
     clear: both;
     width: 100%;
}
li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

.redik{
    width: 100%;
    height: 3px;

    justify-content: center;
    margin-top: 20px;
}
ul li:hover > .redik{
    background-color: #DD4053;
}
.navede{
    margin-top: 16px;
}
.naved{
    margin-top: 16px;
    margin-right: 60px;

}
.naved:hover > .redik{
    background-color: #DD4053;
}
.navi{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.lupa{
    margin-top: 16px;
}







footer{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;

}
.Trav{
    font-family: Montserrat;
    font-size: 200px;
    font-style: normal;
    font-weight: 900;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    color: rgba(255, 255, 255, 0.2);

}
.chto1{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    margin-bottom: 70px;
}
.chto{
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    margin-top: 60px;
}
.blok{
    background: #FFFFFF;
    position: absolute;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
    height: 525px;
    width: 1180px;
    left: 346px;
    top: 600px;
    border-radius: 0px;

}
.serik{
    height: 1091px;
    width: 100%;
    top: 680px;
    position: absolute;
    background: linear-gradient(180deg, #F8F8F8 -12.15%, #E8E8E8 100%);
}
.pall{
    margin-left: 104px;
    margin-top: 95px;
    position: absolute;   
}
.pallik{
    position: absolute;
    margin-top: 95px;
    margin-left: 634px;
}
.el_kr{
    position: absolute;
    margin-top: 75px;
    margin-left: 73px;
}
.el2{
    margin-top: 229px;
    margin-left: 73px;
    position: absolute;
}
.el3{
    margin-top: 382px;
    margin-left: 73px;
    position: absolute;
}
.el4{
    margin-top: 75px;
    margin-left: 605px;
    position: absolute;
}
.el5{
    margin-top: 229px;
    margin-left: 605px;
    position: absolute;
}
.el6{
    margin-top: 382px;
    margin-left: 605px;
    position: absolute;
}
.i1{
    position: absolute;
    margin-top: 91px;
    margin-left: 87px;
}
.i2{
    position: absolute;
    margin-left: 90px;
    margin-top: 245px;
}
.i3{
    position: absolute;
    margin-left: 89px;
    margin-top: 398px;
}
.i4{
    position: absolute;
    margin-left: 621px;
    margin-top: 91px;
}
.i5{
    position: absolute;
    margin-top: 245px;
    margin-left: 620px;
}
.i6{
    position: absolute;
    margin-top: 397px;
    margin-left: 620px;
}
.Absol{
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 413px;
    height: 103px;
    display: flex;
}